@import 'fonts';
@import 'variables';
@import 'mixins';

// Styles
body {
    font-family: 'Lato', sans-serif;
    content: '';
    background-image: url(../img/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 70vmax;

    @media screen and (max-windth: 992px) {
        opacity: 0.4;
    }
}

// NavBar
.custom-nav {
    padding-left: 7em;
    .navbar-brand {
        img {
            width: 35px;
            height: 35px;
            margin-top: -7px;
            
        }
        span {
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.4em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primaryColor;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-left: 2.4em;
                    transition: .3s color ease;

                    &:hover {
                        color: darken($primaryColor, 15%);
                    }
                }
                .sign-up-button {
                    @include tombol;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        margin-top: -3em;
    }
}

// custom section
.custom-section {
    padding-left: 10em;
    margin-top: 10em;
    h2 {
        font-weight: 700;
        font-size: 4rem;
        color: $secondaryColor;
        white-space: nowrap;
        line-height: 1;

    }
    h3 {
        font-weight: 400;
        font-size: 3rem;
        color: $primaryColor;
        white-space: nowrap;
        line-height: 1;
    }
    p {
        color: $textColor;
        font-size: 1.1rem;
        margin-top: 2em;
    }
    a{
        margin-top: 2.2em;
        @include tombol;
        border: 1px solid transparent;
        transition: 0.5s ease;

        &:hover {
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: transparent;
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: 3em;
        text-align: center;
        h2, h3, p {
            text-shadow: 1px 1px 2px rgba($textColor, 0.3);
        }
        h3 {
            color: lighten($textColor, 10%);
        }
    }
}

// Logo Brand
.logo-brand {
    padding-left: 12em;
    img {
        width: 15px;
        height: 15px;
        margin-bottom: -11rem;
        margin: 1em;
    }
}